html {
  font-size: 10px;
}

body {
  background-color: #222;
}

img {
  width: 12rem;
}

.tit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-image: url("images/cover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.tit-page .tit-sub {
  margin: 21% 0 1.5rem;
  font-size: 2rem;
}

.tit-page .tit-main {
  font-size: 3.5rem;
  letter-spacing: 1rem;
}

.tit-page .tit-main::after {
  content: "";
  display: block;
  margin: -2.3rem -1rem 4rem -2rem;
  width: auto;
  height: 0.5rem;
  border-radius: 3px;
  background-color: #235497;
}
.cont-items {
  width: 120rem;
  margin: 10rem auto;
  position: relative;
}

.item {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  padding: 0 3rem;
  color: rgb(102, 102, 102);
  font-size: 1.2rem;
  background-color: #111;
  border-radius: 2rem;
}

.item > img {
  margin-top: -5rem;
}

.item:nth-child(odd) {
  margin-left: -3%;
}

.item:nth-child(even) {
  margin-left: 53%;
  text-align: right;
  margin-top: -5rem;
}

.cont-items::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 0.4rem;
  border-radius: 3px;
  margin: 13rem auto -10rem;
  background-color: #1c90ff;
}

.item:nth-child(odd) > .cont-side {
  text-align: right;
}

.item:nth-child(even) > .cont-side {
  text-align: left;
}

.tit-year {
  margin-top: -4rem;
  display: block;
  color: #1c90ff;
  font-size: 8rem;
  font-family: "Roboto", sans-serif;
}

.tit-ver {
  display: block;
  color: white;
  font-size: 2.2rem;
  margin-top: 2rem;
}

.item > ul {
  background-color: #000;
  border-radius: 2rem 2rem 0 0;
  padding: 3rem;
  margin-top: 3rem;
  font-size: 1.4rem;
}

.item:nth-child(even) > ul {
  text-align: left;
}

.item > ul > li {
  line-height: 2rem;
}

.item > ul > li::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  background-color: rgb(102, 102, 102);
  margin-right: 1rem;
  border-radius: 50%;
}

.item:nth-child(odd)::after {
  content: "";
  position: absolute;
  right: -5.4rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border: 0.4rem solid #1c90ff;
  border-radius: 50%;
  background-color: #222;
}

.item:nth-child(odd)::before {
  content: "";
  position: absolute;
  right: -2.5rem;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 2.5rem;
  height: 2.5rem;
  background-color: #111;
}

.item:nth-child(even)::after {
  content: "";
  position: absolute;
  left: -3.6rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1rem;
  height: 1rem;
  border: 0.4rem solid #1c90ff;
  border-radius: 50%;
  background-color: #222;
}

.item:nth-child(even)::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 2.5rem;
  height: 2.5rem;
  background-color: #111;
}
